<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
      <link rel = "stylesheet" type = "text/css" href = "webpage.css" />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1> <center>Home Page</center></h1>
      </div>

      <div class="menu">
        <div class="navigation">

        <h2><center>Home Page</center></h2>
        <h2>home</h2>
        <h2><a href="contactsandsupport.html">Contacts</a><h2>


      </div>
    </div>

      <div class="content">

          <h3><center>Welcome to Lesedi's Profile</center> </h3>
          <h3><center>Learn more about my life and all the things I have achieved after my 12 years in school.</center></h3>

      </div>
      <div class="footer">
          <center>
            <h3>&copy 2018 Lesedi Mokou</h3>
        </center>

      </div>
    </div
  </body>
</html>
