.container{
  display:grid;
  width: 100%;
  height: 100%;
  grid-gap:15px;
grid-template-columns: repeat(12,1fr);
grid-template-rows: auto 100px;
 grid-template-areas:
  "m h h h h h h h h h h h"
  "m c c c c c c c c c c c"
  "m c c c c c c c c c c c"
  "m c c c c c c c c c c c"
  "m c c c c c c c c c c c"
  "m c c c c c c c c c c c"
  "m c c c c c c c c c c c"
  "m c c c c c c c c c c c"
  "m c c c c c c c c c c c"
  "m c c c c c c c c c c c"
  "m c c c c c c c c c c c"
  "m c c c c c c c c c c c"
  "f f f f f f f f f f f f";
}

.header{
/*grid-column: 3/-1;
grid-row:1/1;*/
background-color: #373737;
grid-area:h;
}

.menu {
/*grid-row: 1/2;
grid-column: 1/3;*/
background-color: #C0B283;
grid-area:m;
}

.content{
/*grid-column: 3/-1;
grid-row: ;*/
background-color: lightblue;/*#DCD0C0;*/
grid-area:c;
padding: 25px;

}

/*above is the CSS grid formating*/

.menu a:hover{
  background-color: #F4F4F4;  /*paper like colour*/
  color: gray;
}
.navigation  a{
  display:block;
  color:ff0000;
  text-align:center;
  padding:10px 30px;
  text-decoration:none;
  list-style: none;
}
.footer{
  background-color: blue;
  grid-area:f;
}
.content p{
    font-family:cursive;
    font-size: 15px;
  }

.content li{
  list-style:none;

}
h1{
color:white;
font-family: cursive;
}

h2{
  color:#6D7993;
  font-family: cursive;
}

h3{
  font-family: cursive;
}
